<strong>
	<%= question.content %>
</strong>
<ul class="answers" data-sort="<%= sort_answers_path %>">
	<% question.answers.each do |answer| %>
	<li id="sortee_<%= answer.id %>">
		<%= answer.content %>
	</li>
	<% end %>
</ul>
