<header class="page-header">
	<p>
		<%= image_tag 'logo.png', width: 120, class: 'img-responsive center-block' %>
	</p>
	<p>
		<%= image_tag 'volunteer-army-logo.png', width: 600, class: 'img-responsive center-block' %>
	</p>
</header>

<%= render 'form', quiz: @quiz %>
