<div class="form-group">
	<%= f.label :weight, f.object.opportunity.name, class: :opp_label %>
	<%= f.number_field :weight, class: 'form-control input-sm' %>
	<%= f.hidden_field :opportunity_id %>
</div>
